:root {
  --clean-font: Arial, Helvetica, sans-serif
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--clean-font);
  background-color: #1D2D50;
  color: #FCDAB7;
}

.top-side {
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
}

.bottom-side {
  padding-top: 3rem;
  flex: 1;
  display: flex;
}

.ttt-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.player-container {
  width: 250px;
  display: flex;
  justify-content: center;
}

.board-container {
  width: 550px;
  height: 550px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.5rem;
  padding: 1rem;
  background-color: #1E5F74;
  border-radius: 1rem;
}

.cell {
  background-color: #133B5C;
  color: #FCDAB7;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 1rem;
  font-size: 5rem;
  font-weight: bold;
}

.cell:hover {
  border: 1px solid #FCDAB7;
}