:root {
  --clean-font: Arial, Helvetica, sans-serif
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--clean-font);
}

.top-side {
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
}

.bottom-side {
  padding-top: 3rem;
  flex: 1;
  display: flex;
}

.ttt-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.player-container {
  width: 250px;
  display: flex;
  justify-content: center;
}

.board-container {
  width: 550px;
  height: 550px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
}